<!-- swApplication.Force.Planet.planet-template.html -->
<div class="row">
    <div class="row">
        <a href="#/Planets">Back</a>
    </div>
    <div class="row">
        <strong>{{Planet.planet.fields.name}}</strong><br>
        Climate: {{Planet.planet.fields.climate}}, Gravity: {{Planet.planet.fields.gravity}}, Terrain: {{Planet.planet.fields.terrain}}<br>
        Orbital Period: {{Planet.planet.fields.orbital_period}}, Rotation Period: {{Planet.planet.fields.rotation_period}}, Surface Water: {{Planet.planet.fields.surface_water}}<br>
        Population: {{Planet.planet.fields.population}}
    </div>
</div>
